/* #div1{
    background-color: rgba(34, 168, 34, 0.5);
    height: 100px;
    width: 100%;
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: column; 
       
}
#div2{
    background-color: rgba(40, 84, 126, 0.5);
    height: 100px;
    width: 100%;
    padding: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;    
} */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
*{
    padding: 0;
    margin: 0;
}
body{
    background: #005AA7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Roboto', sans-serif;
  }
.h1{
    text-align: center;
    padding: 20px 0;
    font-size: 1.2em;
}
.outer-div{
    display: flex;
    align-items: center;
    justify-content: center;   
    height: 100vh;
}
.inner-div{
    width: 350px;
    height: 650px;
    padding: 30px;
    text-align: center;
    border: 0px solid black;
    border-radius: 50px;
    background-color: rgba(110, 39, 241,0.2);
}
input{
    border-radius: 10px;
    padding: 8px 20px;
    border: 0;
}
input:focus{
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}
ul{
    padding-top: 30px;
    list-style: none;
    color: white;
    font-size: 26px;
}
li{
    border: 1px solid rgba(0, 0, 0,0.5);
    box-shadow: 0 0 10px #5e2e38;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 5px;
}
.icon{
    margin-left: 10px;
}
.icon:hover{
    color: rgb(119, 16, 16);
}
.checked{
    background: lightgreen;
    text-decoration: line-through;
    transition: .2s;
}